<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("line.jpg", class: 'first-slide') %>
    </div>
    <div class="item">
      <%= image_tag("hug.jpg", class: 'second-slide') %>
    </div>
    <div class="item">
      <%= image_tag("laugh.jpg", class: 'third-slide') %>
    </div>
    <div class="item">
      <%= image_tag("group.jpg", class: 'fourth-slide') %>
    </div>
    <div class="item">
      <%= image_tag("oa.jpg", class: 'fifth-slide') %>
    </div>
    <div class="item">
      <%= image_tag("wall.jpg", class: 'sixth-slide') %>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!--<div id="carousel">
  
  <div class="hideLeft">
    <%= image_tag("line.jpg") %>
  </div>

  <div class="prevLeftSecond">
    <%= image_tag("hug.jpg") %>
  </div>

  <div class="prev">
    <%= image_tag("laugh.jpg") %>
  </div>

  <div class="selected">
    <%= image_tag("group.jpg") %>
  </div>

  <div class="next">
    <%= image_tag("oa.jpg") %>  
  </div>

  <div class="nextRightSecond">
    <%= image_tag("wall.jpg") %>
  </div>

  <div class="hideRight">
    <%= image_tag("smilemall.jpg") %>
  </div>

</div>

<div class="buttons">
  <button id="prev" class="btn btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i>
  </button>
  <button id="next" class="btn btn-default"><i class="fa fa-arrow-right" aria-hidden="true"></i>
  </button>  
</div>

<script>

  function moveToSelected( element ) {
    if ( element == "next" ) {
      var selected = $( ".selected" ).next();
    } else if ( element == "prev" ) {
      var selected = $( ".selected" ).prev();
    } else {
      var selected = element;
    }

    var next = $( selected ).next();
    var prev = $( selected ).prev();
    var prevSecond = $( prev ).prev();
    var nextSecond = $( next ).next();

    $( selected ).removeClass().addClass( "selected" );

    $( prev ).removeClass().addClass( "prev" );
    $( next ).removeClass().addClass( "next" );

    $( nextSecond ).removeClass().addClass( "nextRightSecond" );
    $( prevSecond ).removeClass().addClass( "prevLeftSecond" );

    $( nextSecond ).nextAll().removeClass().addClass( 'hideRight' );
    $( prevSecond ).prevAll().removeClass().addClass( 'hideLeft' );
  }

  $( document ).keydown( function( e ) {
    switch( e.switch ) {
      case 37: 
        moveToSelected( 'prev' );
        break;   
      case 39:
        moveToSelected( 'next' );
        break;
      default: return;
    }
    e.preventDefault();
  });

  $( '#carousel div' ).click( function() {
    moveToSelected( $( this ) );
  });

  $( '#prev' ).click( function() {
    moveToSelected( 'prev' );
  });

  $( '#next' ).click( function() {
    moveToSelected( 'next' );
  });

</script>-->