<body>
  <main>
    <!--<div class="group-pic">
      <div class="caption">
        <button class="border btn btn-default btn-outline btn-circle"><%= link_to "CONTACT US", new_contact_path %></button>
      </div>
    </div>-->
    <%= render "landing/carousel" %>
  </main>
  <div class="row">
    <div class="about container ">
      <div class="sec-about">
        <h3 class="label-about mast-title">About</h3>
          <p>
            Ugh fixie la croix selvage chartreuse unicorn. Synth selfies mumblecore gentrify, mixtape bitters shoreditch umami tilde 8-bit yuccie fam. Shoreditch crucifix squid thundercats semiotics, meh 90's blue bottle coloring book edison bulb cold-pressed four loko health goth kitsch. Synth vice prism, raw denim leggings live-edge bespoke pok pok poutine quinoa church-key. Scenester echo park umami, offal adaptogen farm-to-table photo booth gochujang typewriter activated charcoal bicycle rights tumblr kickstarter. La croix mixtape hoodie selfies. Poke tote bag franzen dreamcatcher four loko, shoreditch swag chicharrones fanny pack.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="pic12"></div>
    </div>
    <div class="at-section">
      <div class="mast-title">EBoard</div>
    </div>
    <div class="at-grid sec-about container" data-column="3">
      <div class="at-column">
        <div class="at-user">
          <div class="at-user__avatar"><%= image_tag("pic7.jpg") %></div>
          <div class="at-user__name">{name}</div>
          <div class="at-user__title">{position}</div>
          <ul class="at-social">
            <li class="at-social__item">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>  
            </li>
      
            <li class="at-social__item">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </li>
      
            <li class="at-social__item">
              <i class="fa fa-instagram" aria-hidden="true"></i> 
            </li>
          </ul>
        </div>
      </div>
      <div class="at-column">
        <div class="at-user">
          <div class="at-user__avatar"><%= image_tag("pic2.jpg") %></div>
          <div class="at-user__name">{name}</div>
          <div class="at-user__title">{position}</div>
          <ul class="at-social">
            <li class="at-social__item">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>  
            </li>
        
            <li class="at-social__item">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </li>
        
            <li class="at-social__item">
              <i class="fa fa-instagram" aria-hidden="true"></i> 
            </li>
          </ul>
        </div>
      </div>
      <div class="at-column">
        <div class="at-user">
          <div class="at-user__avatar"><%= image_tag("pic3.jpg") %></div>
          <div class="at-user__name">{name}</div>
          <div class="at-user__title">{position}</div>
          <ul class="at-social">
            <li class="at-social__item">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>  
            </li>
          
            <li class="at-social__item">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </li>
          
            <li class="at-social__item">
              <i class="fa fa-instagram" aria-hidden="true"></i> 
            </li>
          </ul>
        </div>
      </div>
      <div class="at-column">
        <div class="at-user">
          <div class="at-user__avatar"><%= image_tag("pic4.jpg") %></div>
          <div class="at-user__name">{name}</div>
          <div class="at-user__title">{position}</div>
          <ul class="at-social">
            <li class="at-social__item">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>  
            </li>
            
            <li class="at-social__item">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </li>
            
            <li class="at-social__item">
              <i class="fa fa-instagram" aria-hidden="true"></i> 
            </li>
          </ul>
        </div>
      </div>
      <div class="at-column">
        <div class="at-user">
          <div class="at-user__avatar"><%= image_tag("pic5.jpg") %></div>
          <div class="at-user__name">{name}</div>
          <div class="at-user__title">{position}</div>
          <ul class="at-social">
            <li class="at-social__item">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>  
            </li>
              
            <li class="at-social__item">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </li>
              
            <li class="at-social__item">
              <i class="fa fa-instagram" aria-hidden="true"></i> 
            </li>
          </ul>
        </div>
      </div>
      <div class="at-column">
        <div class="at-user">
          <div class="at-user__avatar"><%= image_tag("pic8.jpg") %></div>
          <div class="at-user__name">{name}</div>
          <div class="at-user__title">{position}</div>
          <ul class="at-social">
            <li class="at-social__item">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>  
            </li>
              
            <li class="at-social__item">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </li>
              
            <li class="at-social__item">
              <i class="fa fa-instagram" aria-hidden="true"></i> 
            </li>
          </ul>
        </div>
      </div>
      <div class="at-column">
        <div class="at-user">
          <div class="at-user__avatar"><%= image_tag("pic6.jpg") %></div>
          <div class="at-user__name">{name}</div>
          <div class="at-user__title">{position}</div>
            <ul class="at-social">
              <li class="at-social__item">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>  
              </li>
              
              <li class="at-social__item">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </li>
              
              <li class="at-social__item">
                <i class="fa fa-instagram" aria-hidden="true"></i> 
              </li>
            </ul>
          </div>
        </div>
        <div class="at-column">
          <div class="at-user">
            <div class="at-user__avatar"><%= image_tag("pic9.jpg") %></div>
            <div class="at-user__name">{name}</div>
            <div class="at-user__title">{position}</div>
            <ul class="at-social">
              <li class="at-social__item">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>  
              </li>
              
              <li class="at-social__item">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </li>
              
              <li class="at-social__item">
                <i class="fa fa-instagram" aria-hidden="true"></i> 
              </li>
            </ul>
          </div>
        </div>
        <div class="at-column">
          <div class="at-user">
            <div class="at-user__avatar"><%= image_tag("pic10.jpg") %></div>
            <div class="at-user__name">{name}</div>
            <div class="at-user__title">{position}</div>
            <ul class="at-social">
              <li class="at-social__item">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>  
              </li>
              
              <li class="at-social__item">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </li>
              
              <li class="at-social__item">
                <i class="fa fa-instagram" aria-hidden="true"></i> 
              </li>
            </ul>
          </div>
        </div>
        <div class="at-column">
          <div class="at-user">
            <div class="at-user__avatar"><%= image_tag("pic11.jpg") %></div>
            <div class="at-user__name">{name}</div>
            <div class="at-user__title">{position}</div>
            <ul class="at-social">
              <li class="at-social__item">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>  
              </li>
              
              <li class="at-social__item">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </li>
              
              <li class="at-social__item">
                <i class="fa fa-instagram" aria-hidden="true"></i> 
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="blog-div">
        <div class="blog">
          <span><%= link_to "Check out our blog!!", posts_path, :style => 'color: #fff;' %></span>
        </div>
      </div>
    </div>
  </div>
</body>
