<body>
  <main>
    <!--<div class="group-pic">
      <div class="caption">
        <button class="border btn btn-default btn-outline btn-circle"><%= link_to "CONTACT US", new_contact_path %></button>
      </div>
    </div>-->
    <%= render "landing/carousel" %>
  </main>
  <div class="row">
    <div class="about container ">
        <!--<iframe src="https://calendar.google.com/calendar/embed?height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=kwesiiilarb%40gmail.com&amp;color=%2329527A&amp;ctz=America%2FNew_York" style="border:solid 1px #777" width="500" height="300" frameborder="0" scrolling="no"></iframe>-->
      <div class="sec-about">
        <h3 class="label-about mast-title">About</h3>
          <p class="about-description">
            MasTERPiece seeks to create and serve a community of those interested in the fashion/retail industry through our general gody meetings, professional development, community service and UMD Fashion Week.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="pic12"></div>
    </div>
    <div class="container sec-about">
      <div class="at-section">
        <div class="mast-title label-about">EBoard</div>
      </div>
      <div class="at-grid sec-about container" data-column="3">
        <div class="at-column">
          <div class="at-user">
            <div class="at-user__avatar"><%= image_tag("pic7.jpg") %></div>
            <div class="at-user__name">Oru Wonodi</div>
            <div class="at-user__title">President</div>
            <ul class="at-social">
              <li class="at-social__item">
                  <a href="https://twitter.com/obiwanwonodi?lang=en" target="_blank">
                    <i class="fa fa-twitter fa-social" aria-hidden="true"></i>
                  </a>
              </li>
        
              <li class="at-social__item">
                <a href="https://www.instagram.com/obiwanwonodi/" target="_blank">
                  <i class="fa fa-instagram fa-social" aria-hidden="true"></i> 
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="at-column">
          <div class="at-user">
            <div class="at-user__avatar"><%= image_tag("pic2.jpg") %></div>
            <div class="at-user__name">Saron Bizuayehu</div>
            <div class="at-user__title">Vice President</div>
            <ul class="at-social">
              <li class="at-social__item">
                <a href="https://www.instagram.com/_saronnn/" target="_blank">
                  <i class="fa fa-instagram fa-social" aria-hidden="true"></i> 
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="at-column">
          <div class="at-user">
            <div class="at-user__avatar"><%= image_tag("pic3.jpg") %></div>
            <div class="at-user__name">LaRen Morton</div>
            <div class="at-user__title">VP of Public Relations</div>
            <ul class="at-social">
              <li class="at-social__item">
                <a href="https://twitter.com/xoxo_lbm?lang=en" target="_blank">
                  <i class="fa fa-twitter fa-social" aria-hidden="true"></i>
                </a>
              </li>
            
              <li class="at-social__item">
                <a href="https://www.instagram.com/xolarenbrie/" target="_blank">
                  <i class="fa fa-instagram fa-social" aria-hidden="true"></i> 
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="at-column">
          <div class="at-user">
            <div class="at-user__avatar"><%= image_tag("pic5.jpg") %></div>
            <div class="at-user__name">Julia Stratford</div>
            <div class="at-user__title">VP of Finance</div>
            <ul class="at-social">
                <li class="at-social__item">
                  <a href="https://twitter.com/laurenlillie" target="_blank">
                    <i class="fa fa-twitter fa-social" aria-hidden="true"></i>
                  </a>
                </li>
                  
                <li class="at-social__item">
                  <a href="https://www.instagram.com/laurenhmacp/" target="_blank">
                    <i class="fa fa-instagram fa-social" aria-hidden="true"></i> 
                  </a>
                </li>
              </ul>
          </div>
        </div>
        <div class="at-column">
          <div class="at-user">
            <div class="at-user__avatar"><%= image_tag("pic4.jpg") %></div>
            <div class="at-user__name">Lauren Allen</div>
            <div class="at-user__title">Community Service Chair</div>
          </div>
        </div>
        <div class="at-column">
          <div class="at-user">
            <div class="at-user__avatar"><%= image_tag("pic8.jpg") %></div>
            <div class="at-user__name">Justin Nwosu</div>
            <div class="at-user__title">PR Chair</div>
          </div>
        </div>
        <div class="at-column">
          <div class="at-user">
            <div class="at-user__avatar"><%= image_tag("pic6.jpg") %></div>
            <div class="at-user__name">Lidija Jurovich</div>
            <div class="at-user__title">VP of Marketing</div>
              <ul class="at-social"> 
                <li class="at-social__item">
                  <a href="https://www.instagram.com/lidijajurovich/?hl=en" target="_blank">
                    <i class="fa fa-instagram fa-social" aria-hidden="true"></i> 
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="at-column">
            <div class="at-user">
              <div class="at-user__avatar"><%= image_tag("pic9.jpg") %></div>
              <div class="at-user__name">Nia Parks</div>
              <div class="at-user__title">VP of Events</div>
              <ul class="at-social">
                <li class="at-social__item">
                  <a href="https://www.instagram.com/ni_parks/" target="_blank">
                    <i class="fa fa-instagram fa-social" aria-hidden="true"></i> 
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="at-column">
            <div class="at-user">
              <div class="at-user__avatar"><%= image_tag("pic10.jpg") %></div>
              <div class="at-user__name">Samuel Barksdale</div>
              <div class="at-user__title">Finance Chair</div>
            </div>
          </div>
          <div class="at-column">
            <div class="at-user">
              <div class="at-user__avatar"><%= image_tag("pic11.jpg") %></div>
              <div class="at-user__name">Dimitry Decolin</div>
              <div class="at-user__title">Secretary</div>
              <ul class="at-social">
                <li class="at-social__item">
                  <a href="https://twitter.com/ddecolin?lang=eu" target="_blank">
                    <i class="fa fa-twitter fa-social" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
      <div class="blog-div">
        <div class="blog">
          <span><%= link_to "Check out our blog!!", posts_path, :style => 'color: #fff;' %></span>
        </div>
      </div>
    </div>
  </div>
</body>
