<h1 class="text-center mast-title">CONTACT US</h1>
<br />
<br />
<div class="container">
  <div class="row">
    <%= form_for @contact do |f| %>
    
      <!-- Name -->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.text_field :name,  required: true, class: 'form-control', id: 'Name', placeholder: 'Name' %>
          </div>
        </div>
        <!-- Email -->
        <div class="col-md-6">
          <div class="form-group">
            <%= f.email_field :email,  required: true, class: 'form-control', id: 'email', placeholder: 'E-mail' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.text_area :message, as: :text, placeholder: 'Message', rows: '9', class: 'form-control textarea', id: 'Message' %>
          </div>
        </div>
      </div>

      <!-- Submit button -->
      <div class="row">
        <div class="col-md-12">
          <%= f.submit 'Send', class: 'btn main-btn pull-right' %>
        </div>
      </div>

      <!-- Hidden -->
      <div class="hidden form-group">
        <%= f.label :nickname %>
        <div class="col-md-9">
          <%= f.text_field :nickname, hint: 'leave this field blank', class: 'form-control' %>
        </div>
      </div>

    <% end %>
  </div>
</div>
