<div class="container">
  <div class="row">
    <div class="col-md-1 col-lg-2"> 
    </div>
    <div class="col-md-10 col-lg-8 text-xs-center">
      <h1><%= @post.title %></h1>
      <% if user_signed_in? %>
        <div>
          <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-sm btn-warning'%>
          <%= link_to 'Remove', post_path(@post), method: :delete,
                  data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger'%>
        </div>
      <% end %>
      <%= @post.body.html_safe %>
    </div>
    <%= render "layouts/disqus" %>
  </div>
</div>